@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    font-family: "Akshar", sans-serif;
    font-optical-sizing: auto;
}
body{
    margin: 1em 5em;
    background: #113946;
}
/* Estilo para las cartas */

.card {
    background:radial-gradient(ellipse at top,  #EEEDEB, 75%, #E0CCBE);
    width: 12em;
    height: 15em;
    position: relative;
    border-radius: 5%;
    padding: 1em 1.25em;
    display: grid;
    grid: repeat(6, 1fr) / repeat(5, 1fr);
    gap: 0.5em;
    justify-items: center;
    align-items: center;
}
.cardSim{
    font-size: 2em;
}
.card :nth-child(3){
    grid-column: 5;
    grid-row: 6;
}
.cardTXT{
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    font-size: 4em;
    text-align: center;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
}
.card:hover{
    box-shadow: 0.5em 0.5em 5px#07171d;
    transition: box-shadow 0.15s ease-in;
}
.card::after{
    content:"";
    position: absolute;
    border-radius: 5%;
    height: 100%;
    width: 100%;
}
.card:hover::after{
    animation: border 1.5s ease-in-out infinite;
}
@keyframes border {
    0% {
        border-top: solid 0.25em #BCA37F;
        border-right: solid 0.25em #BCA37F;
        border-bottom: solid 0.25em #BCA37F;
        border-left: solid 0.25em #BCA37F;
        transition-property: border-top, border-right, border-bottom, border-left;
        transition-duration: 30%;
    }
    1%, 25%{
        border-top: solid 0 #BCA37F;
    }
    26%, 50%{
        border-right: solid 0 #BCA37F;
    }
    51%, 75%{
        border-bottom: solid 0 #BCA37F;
    }
    76%, 100%{
        border-left: solid 0 #BCA37F;
    }
}

/*********Estilo pantalla de inicio************/

.inicio{
    width: 100%;
    height: 90dvh;
    position: relative;
}
.titulo{
    display: grid;
    grid: repeat(4, 1fr) / repeat(8, 1fr);
    gap: 1em;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.titulo h1{
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
    color: #FFF2D8;
    text-shadow: 0.075em 0.075em 5px #07171d;
}
.nuevaPartida{
    text-align: center;
    width: 85%;
    height: 2em;
    grid-column: 4 / 6;
    grid-row: 4 / 5;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #BCA37F;
    border: none;
    border-radius: 5%;
    color: #FFF2D8;
    cursor: pointer;
}
.nuevaPartida:hover{
    background-color: #FFF2D8;
    color: #BCA37F;
    box-shadow: 0.25em 0.25em 5px #07171d;
    transition: all 0.25s ease-in-out;
}

/***********Estilo Pop nombre*****************************/

.nombre{
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 75%;
    padding: 2em;
    border-radius: 5%;
    background-color: #BCA37F;
    color: #07171d;
}
.POPNombre_Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    font-size: 1em;
    font-weight: 400;
}
.POPNombre_Form_Input{
    margin: 2em 0 1em 0;
    width: 100%;
    height: 2em;
    background-color: #FFF2D8;
    border: none;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    outline: none;
}
.POPNombre_BTN{
    width: 320px;
    height: 2em;
    align-self: center;
    background-color: #113946;
    color: #FFF2D8;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 1.5em;
}
.POPNombre_BTN:hover{
    background-color: #07171d;
    color: #FFF2D8;
}

/***********Estilo Instrucciones*****************************/

.instrucciones{
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: #FFF2D8;
}
.instrucciones_BTN{
    width: 162px;
    height: 48px;
    font-size: 1.25em;
    background-color: #BCA37F;
    border: none;
    font-size: 1em;
    border-radius: 5%;
    color: #FFF2D8;
    cursor: pointer;
}
.instrucciones_BTN:hover{
    background-color: #FFF2D8;
    color: #BCA37F;
    transition: all 0.25s ease-in;
}
